<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Character</title>
  <link rel="stylesheet" href="sr4.css" />
</head>
<body>

<h1><a href="/">Shadowrun Character Keeper</a></h1>

    <div class="content">
    <h2>Create a new character</h2>

    <form action="/create" method="post">
        <label for="name">Character Name: </label>
        <input type="text" name="name" id="name" />
        <br>
        <label for="metatype">Metatype: </label>
        <input type="text" name="metatype" id="metatype" />
        <br>
        <label for="body">Body: </label>
        <input type="text" name="body" id="body" />
        <br>
        <label for="agility">Agility: </label>
        <input type="text" name="agility" id="agility" />
        <br>
        <label for="reaction">Reaction: </label>
        <input type="text" name="reaction" id="reaction" />
        <br>
        <label for="strength">Strength: </label>
        <input type="text" name="strength" id="strength" />
        <br>
        <label for="charisma">Charisma: </label>
        <input type="text" name="charisma" id="charisma" />
        <br>
        <label for="intuition">Inutition: </label>
        <input type="text" name="intuition" id="intuition" />
        <br>
        <label for="logic">Logic: </label>
        <input type="text" name="logic" id="logic" />
        <br>
        <label for="willpower">Willpower: </label>
        <input type="text" name="willpower" id="willpower" />
        <br>
        <label for="edge">Edge: </label>
        <input type="text" name="edge" id="edge" />
        <br>
        <label for="essence">Essence: </label>
        <input type="text" name="essence" id="essence" />
        <br>
        <label for="magic">Magic: </label>
        <input type="text" name="magic" id="magic" />
        <br>
        <label for="initiative-passes">Initiative passes: </label>
        <input type="text" name="initiative-passes" id="initiative-passes" />
        <br>
        <label for="nuyen">Nuyen: </label>
        <input type="text" name="nuyen" id="nuyen" />
        <br>
        <label for="bio">Bio (under 1000 words): </label>
        <input type="text" name="bio" id="bio" />
        <br>
        <input type="submit" value="Submit"/>
    </form>


</body>
</html>
