All Inventory Items:

<div id=admin-tools>
  All Tools:

  <% @admin_tools.each do |tool| %>
    <ul>
      <li><%= "#{tool["name"]}, #{tool["description"]} - used by #{tool["count"]} characters" %><li>
    <ul>
  <% end %>
</div>

<div id=admin-weapons>
  All Weapons:

  <% @admin_weapons.each do |weapon| %>
    <ul>
      <li><%= "#{weapon["name"]}, #{weapon["description"]} - used by #{weapon["count"]} characters" %><li>
    <ul>
  <% end %>
</div>
