@font-face {
  font-family: FrizQuadrata;
  src: url(frquad.ttf);
}

body {
  font-family: FrizQuadrata;
  margin: 0px;
  font-size: 1.3em;
}


h1 {
  text-align: center;
  background-color: rgba(3,84,43,0.7);
  margin: 0px;
  padding: 5px;
  border-bottom: 8px solid black;
  border-top: 8px solid black;

}

h1 a {
  text-decoration: none;
  color: white;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 1.3em;
  }


.character-info {
  padding: 20px;
}

#character-name {
  text-align: center;
  font-size: 1.6em;
  padding-top: 10px;
}

.char-nav {
  text-align: center;
}

.char-nav li  {
  list-style: none;
  display: inline-block;

}

.char-nav li  a {
  text-decoration: none;
  color:black;
}

.barscilwe {
  margin: 0px;
  padding: 0px;
}

.barscilwe li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.character-details {
  list-style: none;
  margin: 25px 0px;
  padding: 0px;
}

#new-char {
  text-align: center;
  padding: 20px 0px;
}

#new-char a {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  border: 2px ridge #03542B;
  border-radius: 15px;
  background-color: rgba(3,84,43,0.1);
}

.content {
  margin: 20px;
}

.char-list {
  width:50%;
  margin-left:auto;
  margin-right:auto;
}

.char-list li a {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  font-size: 2.8em;
}

#oauth {
  text-align: center;
  color: black;
}

#oauth a {
  color: black;
}

#login {
  display: inline;

}

#login a {
  color: black;
}

.user-status {
  text-align: right;
  display: inline;
}

form {
  margin-left: 20px;
}

.sub-heading {
  font-weight: bold;
}

.editing-characters{
  font-size: .7em;
}

#character-deletion {
  text-align: center;
  padding-top: 50px;
  margin: 10px;
}

.submit-button {
background-color: gray;
border-color: black;
color: white;

}

.delete-button {
  background-color: #D63333;
  border-color: black;
  color: white;
}

select {
  border-color: black;
  font: FrizQuadrata;
}
