<div id = 'about-container'>
  <div id='text-container'>

  <div id ='me'>
    <img src="assets/allacartoonhead.png"/>
    <h6 class = 'about-headers'>About Me</h6>

    My name is Alla Hoffman, and I'm a software engineer and tabletop gaming nerd.
    The Shadowrun character keeper is open-source on my
    <a href = "https://github.com/RSid/shadowrun4e">github</a>,
    and you can take a look at some of my other work
    <a href="http://rsid.github.io/portfolio/">here</a>.

    You can also find me on the usual suspects:

    <div id= 'social-media'>
      <a href="http://www.linkedin.com/in/allahoffman">
        <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png"
        width="160" height="25" border="0" alt="View Alla Hoffman's profile on LinkedIn">
      </a>

    <a href="https://twitter.com/AllaHoffman" class="twitter-follow-button"
    data-show-count="false">Follow @AllaHoffman</a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/
      .test(d.location)?'http':'https';if(!d.getElementById(id)){js=d
        .createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs
        .parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>

    <a href="http://stackexchange.com/users/541369">
      <img src="http://stackexchange.com/users/flair/541369.png" width="208" height="58" alt="profile for RSid on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for RSid on Stack Exchange, a network of free, community-driven Q&amp;A sites">
    </a>
  </div>
</div>

  <div id = 'shadowrun'>
    <img  id = 'die' src="assets/Purple_d20.png"/>
    <h6 class = 'about-headers'>About Shadowrun</h6>

    In case you're unfamiliar with Shadowrun, it's a tabletop RPG (like D&D) set in a cyberpunk/magic world.
    You can find more information <a href ='http://www.shadowruntabletop.com/'>here</a>
    and <a href= "http://shadowrun.wikia.com/wiki/Main_Page">here.</a>
    <br>
    <br>
    There's also a great videogame version on
    <a href = "http://store.steampowered.com/app/234650/">Steam</a>.
  </div>
</div>
</div>
