<div id = 'about-container'>
  <div id='text-container'>
    
  <div id ='me'>
    <img src="assets/allacartoonhead.png"/>
    <h6 class = 'about-headers'>About Me</h6>

    My name is Alla Hoffman, and I'm a web developer and graduate of
    <a href = 'http://www.launchacademy.com/'>Launch Academy</a>.
    You can find me on the usual suspects:

    <div id= 'social-media'>
      <a href="http://www.linkedin.com/in/allahoffman">
      <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png"
      width="160" height="25" border="0" alt="View Alla Hoffman's profile on LinkedIn">
    </a>

    <a href="https://twitter.com/AllaHoffman" class="twitter-follow-button"
    data-show-count="false">Follow @AllaHoffman</a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/
      .test(d.location)?'http':'https';if(!d.getElementById(id)){js=d
        .createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs
        .parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>

    <iframe class="btn" frameborder="0" border="0" scrolling="no"
    allowtransparency="true" height="25" width="114"
    src="http://platform.tumblr.com/v1/follow_button.html?button_type=2&tumblelog=allahoffman&color_scheme=dark">
    </iframe>
  </div>

    The Shadowrun character keeper is open-source on my
    <a href = "https://github.com/RSid/shadowrun4e">github</a>.
    <br>
    <br>
    Shadowrun 4th Edition is one of my favorite RPG systems, but even I have to admit that
    it requires a lot of book-keeping. This started out as an effort to tempt my
    regular gaming group to come back to the fold, after they moved on to more light-weight systems.
  </div>

  <div id = 'shadowrun'>
    <img  id = 'die' src="assets/Purple_d20.png"/>
    <h6 class = 'about-headers'>About Shadowrun</h6>

    In case you're unfamiliar with Shadowrun, it's a tabletop RPG (like D&D) set in a cyberpunk/magic world.
    You can find more information <a href ='http://www.shadowruntabletop.com/'>here</a>
    and <a href= "http://shadowrun.wikia.com/wiki/Main_Page">here.</a>
    <br>
    <br>
    There's also a great new videogame version on
    <a href = "http://store.steampowered.com/app/234650/">Steam</a>.
  </div>
</div>
</div>
