<div id = 'about-me'>
  My name is Alla Hoffman, and I'm a graduate of Launch Academy.
  The Shadowrun character keeper is open-source on my github, here.

  Shadowrun 4E is one of my favorite RPG systems, but even I have to admit that
  it requires a lot of book-keeping. This started out as an effort to tempt my
  regular gaming group to come back to the fold, after they moved on to more light-weight systems. 
</div>
