<div id = 'landing-foot'>
  Shadowrun Character keeper is created and maintained by Alla Hoffman. You
  can find me on Github here.
  <br>
  <br>
  The Topps Company, Inc. has sole ownership of the names, logo, artwork,
  marks, photographs, sounds, audio, video and/or any proprietary material
  used in connection with the game Shadowrun. The Topps Company, Inc. has
  granted permission to Alla Hoffman to use such names, logos, artwork, marks
  and/or any proprietary materials for promotional and informational purposes
  on its website but does not endorse, and is not affiliated with Alla Hoffman
  in any official capacity whatsoever.
</div>
