<div class="push"></div>

  <% if user_signed_in? %>
    <div id="new-char">
      <%= link_to 'Create Character', new_character_path %>
    </div>
  <% end %>

  <% if current_user %>
    <h2>List of Characters</h2>
    <ul class="char-list">
      <% @users_characters.each do |character| %>
        <li><%= link_to character.name, character_path(character) %></li>
      <% end %>
    </ul>
  <% else %>
    <h2>Welcome to Club Penumbra!</h2>
    <div id ='welcome'>
      Sign up to create and maintain character information for Shadowrun 4th Edition.
      <br>
      <br>
      To see an example character, click <a href='http://clubpenumbra.herokuapp.com/characters/1'>here</a>.
    </div>
  <% end %>
