/*Whole app*/

html {
  margin: 0PX;
  padding: 0px;
  height: 100%;
}

@font-face {
  font-family: FrizQuadrata;
  src: font-url("frquad.ttf");
}

body {
  font-family: FrizQuadrata;
  margin: 0px;
  font-size: 1.3em;
  padding: 0px;
  height: 100%;
}

#header {
  @include span-columns(12);
  background-color: #005375;
  margin: 0px;
  padding: 5px;
  border-bottom: 8px solid black;
  border-top: 8px solid black;

}

#header > h1 > a > img {
  @include span-columns(6);
  @include shift(3);
}

#panel > h1 > a > img {
  display: block;
  margin: auto;
  padding: 10px;
}

#panel > h1 {
  color: white;
  text-align: center;
  padding :10px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  background: url('sr4background.png') no-repeat center center ;
  background-size: cover;
}

.footer, .push {
  height: 4em;
}

.footer {
  background-color: black;
  color: gray;
  font-size: .4em;
  font-family: Arial,sans-serif;
  padding: 5em;
  text-align: center;
}

.fa {
  color: red;
}

/*Landing page*/

#background {
  @include outer-container;
  background: url('city.jpg') no-repeat center center fixed;
  background-size: cover;
}

#landing-title {
  font-size: 3em;
  text-align: center;
  line-height: 400px;
}

#landing-title img {
  width: 90%;
  height: auto;
  vertical-align: middle
}

#landing-nav-bar {
  list-style: none;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  text-align:center;
}

#landing-nav-bar li {
  display: inline;
  padding: 10px;
  margin: 0px;
}

#landing-nav-bar li a {
  color: black;
  text-decoration: none;
}

#landing-foot {
  @include span-columns(12);
  background-color: black;
  color: white;
  font-size: .5em;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#panel {
  @include span-columns(6);
  @include shift(3);
  border-radius: 15px;
  margin: 25%;
  margin-bottom: 10%;
  margin-top: 13%;
  background-color: rgba(165,197,196,.3)
}

/*About*/

#about-container{
  background-color: rgba(8,24,39,.7);
  color:black;
  border-radius: 10px;
}

#text-container {
  @include outer-container;
  padding: 30px;
  margin: 50px;
}

#me, #shadowrun {
  @include span-columns(6);
  @include omega();
  background-color: #F0F8FF;
  padding: 10px;
  box-shadow: 0 2px 4px black;
  border: 1px solid grey;
  margin-left: 8px;
  margin-right: 8px;
}

#me {
  margin-bottom: 20px;
}

#shadowrun {
  margin-left: 25px;
}

#me, #shadowrun img {
  display: block;
  margin: auto;
}

.about-headers {
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
}

#social-media {
  text-align: center;
  padding: 3%;
}

#social-media iframe{
  margin-right: 3%;
  margin-left: 3%;
}

/*Login*/

#sign-in-container {
  @include outer-container;
}

#sign-in {
  @include span-columns(6);
  @include shift(3);
}

.boolean optional control-label {
  display: inline;
}

#user_remember_me {
  display: inline;
}

/*Character create*/

#character-create-container {
  @include outer-container;
  margin-top: 30px;
}

#new-character {
  @include span-columns(12);
  @include omega();
}

#name-metatype-inputs {
  @include span-columns(6 of 12);
  @include shift(3);
  @include omega();
  text-align: center;
}

#character_metatype_id {
  margin-right: auto;
  margin-left: auto;
}

.stats {
  @include span-columns(10 of 12);
  @include shift(1);
  @include omega();
  margin-top: 50px;
}

#bio-submit {
  @include span-columns(11);
  @include shift(1);
  @include omega();
  margin-top: 25px;
}

.stats select {
  display: inline;
}

.stats label {
  display: inline;
}

#character_essence, #character_magic, #character_initiative_passes, #character_nuyen {
  display: inline;
  width: 10%;
  margin-top: 25px;
}

#stat-explanation {
  margin: 20px;
  padding: 10px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  text-align: center;
  @include span-columns(10 of 12);
  @include shift(1);
  @include omega();
}

.big-push {
  height: 40em;
}

/*Character layout*/

input[type="number"], #character_weapon_weapon_damage_type {
  display: inline;
  width: 63px;
}

.small-input-label {
  display: inline;
}

#login-nav-container {
  @include outer-container;
  width: 100%;
}

#login-nav {
  @include span-columns(10);
  @include shift(1);
  text-align: center;
}


#login-nav li {
  display: inline;
}

#login-nav li a {
  color: white;
  padding: 10px;
}

#die, #modal-die {
  color: white;
  display: inline;
  margin: 10px;
}

.dice-roller {
  color: white;
  display: inline;
  padding-left: 20px;
  border-left: 1px solid white;
}

.dice-roller form {
  display: inline;
}

/*Character show page*/

.character-info {
  @include outer-container;
  padding: 20px;
  border-top: 1px solid grey;
  margin-top: 20px;
}

.sub-stats {
  @include span-columns(5);
  @include shift(1);
  display: table;
}

.sub-stats li {
  display: table-row;
}

.label {
  display: table-cell;
  width: 200px;
}

#character-name {
  text-align: center;
  font-size: 1.6em;
  padding-top: 10px;
  width: 30%;
  margin-left:35%;
  margin-right:35%;
}

.char-nav {
  text-align: center;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  margin-bottom: 18px;
}

.char-nav li  {
  list-style: none;
  display: inline-block;

}

.char-nav li  a {
  text-decoration: none;
  color:black;
}

#barscilwe {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

#barscilwe tr td{
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 5px;
  display: inline;
}

#new-char {
  text-align: center;
  padding: 20px 0px;
  min-width:175px;
  margin-top: 5%;
}

#new-char a {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  border: 2px ridge #029870;
  border-radius: 15px;
  background-color: rgba(2,152,112,0.1);
  margin-top: 100px;
}

.content {
  margin: 50px;
}

.char-list {
  @extend %default-ul;
  width:50%;
  margin-left:auto;
  margin-right:auto;
}

.char-list li a {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  font-size: 2.8em;
}

.user-status {
  text-align: right;
  display: inline;
}

.sub-heading {
  font-weight: bold;
}

.edit-container{
  @include outer-container;
}

.editing-characters{
  @include editing-character;
  font-size: .7em;
}

.editing-characters p{
  font-size: 1.7em;
}

.edit-character-hover, #character-stat-edit, #gear-type {
  padding: 10px;
  text-align: center;
  width: 15%;
  min-width: 110px;
  margin-left: 42.5%;
  margin-right: 42.5%;
  margin-top: 25px;
  margin-bottom: 25px;
  border: solid 2px black;
  border-radius: 10px;
}

#PickGear {
  width: 100%;
}

h6 {
  margin-top: 15px;
}

.gear-input, #base-edits {
  @include editing-character;
}

.new-form-field {
  padding-left: 20px;
  display: block;
}

.subheading {
  margin-left: 20px;
}

.subheading > ul > li{
  margin-bottom: 10px;
}

#option-selector-container {
  @include span-columns(12);
}

#change {
  @include span-columns(4);
  @include shift(4);
  margin-right: 4em;
}

#char-deletion, #welcome {
  text-align: center;
}

.submit-button {
  background-color: gray;
  border-color: black;
  color: white;
}

.delete-button {
  background-color: #D63333;
  border-color: black;
  color: white;
}

select {
  border-color: black;
  font: FrizQuadrata;
}

/* modal */

#results {
  display:none;
}

#simplemodal-overlay {
  background-color:#000;
}

#simplemodal-container {
  height:250px;
  width:530px;
  color:#bbb;
  background-color:#333;
  border:4px solid #444;
  padding:12px;
  overflow: hidden;
}

#simplemodal-container .simplemodal-data {
  padding:8px;
}

#simplemodal-container code {
  background:#141414;
  border-left:3px solid #65B43D;
  color:#bbb;
  display:block;
  font-size:12px;
  margin-bottom:12px;
  padding:4px 6px 6px;
}

#simplemodal-container a {
  color:#ddd;
}

#simplemodal-container a.modalCloseImg {
  background: image-url('x.png') no-repeat;
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:0px;
  right:0px;
  cursor:pointer;
}

#simplemodal-container h3 {
  color:#84b8d9;
}
