/*Whole app*/

html {
  margin: 0PX;
  padding: 0px;
  height: 100%;
}

@font-face {
  font-family: FrizQuadrata;
  src: font-url("frquad.ttf");
}

body {
  font-family: FrizQuadrata;
  margin: 0px;
  font-size: 1.3em;
  padding: 0px;
  height: 100%;

}

#header {
  @include span-columns(12);
  background-color: #005375;
  margin: 0px;
  padding: 5px;
  border-bottom: 8px solid black;
  border-top: 8px solid black;

}

#header > h1 > a > img {
  @include span-columns(6);
  @include shift(3);

  }

#panel > h1 > a > img {
  display: block;
  margin: auto;
  padding: 10px;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

.footer, .push {
height: 4em;
}

.footer {
  background-color: black;
  color: gray;
  font-size: .4em;
  font-family: Arial,sans-serif;
  padding: 5em;
  text-align: center;
}

/*Landing page*/

#background {
  @include outer-container;
  background: url(city.jpg) no-repeat center center fixed;
  background-size: cover;
}

#landing-title {
  font-size: 3em;
  text-align: center;
  line-height: 400px;
}

#landing-title img {
  width: 90%;
  height: auto;
  vertical-align: middle
}

#landing-nav-bar {
  list-style: none;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  text-align:center;
}

#landing-nav-bar li {
  display: inline;
  padding: 10px;
  margin: 0px;
}

#landing-nav-bar li a {
  color: black;
  text-decoration: none;
}

#landing-foot {
  @include span-columns(12);
  background-color: black;
  color: white;
  font-size: .5em;
  text-align: center;
  padding: 0px;
  margin: 0px;
  }

#panel {
  @include span-columns(6);
  @include shift(3);
  border-radius: 15px;
  margin: 25%;
  background-color: rgba(65,200,255,.3)
}

/*About*/

#about-me{
  color:white;
  background-color: blue;
}

/*Login*/

#sign-in-container {
  @include outer-container;
}

#sign-in {
  @include span-columns(6);
  @include shift(3);
}

.boolean optional control-label {
  display: inline;
}

#user_remember_me {
  display: inline;
}

/*Character layout*/

#login-nav-container {
  @include outer-container;
  width: 100%;
}

#login-nav {
  @include span-columns(6);
  @include shift(3);
  text-align: center;
}


#login-nav li {
  display: inline;
}

#login-nav li a {
  color: white;
  padding: 10px;
}

#quick-actions {
  display: block;
}

#dicepool {
  width: 6%;
  display: inline;
  margin: 10px;
}


/*Character show page*/

.character-info {
  padding: 20px;
}

#character-name {
  text-align: center;
  font-size: 1.6em;
  padding-top: 10px;
}

.char-nav {
  text-align: center;
}

.char-nav li  {
  list-style: none;
  display: inline-block;

}

.char-nav li  a {
  text-decoration: none;
  color:black;
}

.barscilwe {
  margin: 0px;
  padding: 0px;
}

.barscilwe li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.character-details {
  list-style: none;
  margin: 25px 0px;
  padding: 0px;
}

#new-char {
  text-align: center;
  padding: 20px 0px;
}

#new-char a {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  border: 2px ridge #03542B;
  border-radius: 15px;
  background-color: rgba(3,84,43,0.1);
}

.content {
  margin: 50px;
}

.char-list {
  @extend %default-ul;
  width:50%;
  margin-left:auto;
  margin-right:auto;
}

.char-list li a {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  font-size: 2.8em;
}


.user-status {
  text-align: right;
  display: inline;
}


.sub-heading {
  font-weight: bold;
}

.edit-container{
  @include outer-container;
}

.editing-characters{
  @include editing-character;
  font-size: .7em;
}

.editing-characters p{
  font-size: 1.7em;
}

.edit-character-hover, #character-stat-edit, #gear-type {
  padding: 10px;
  text-align: center;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

#weapons-input, #general-gear-input {
  @include editing-character;
}

#character-deletion {
  text-align: center;
  padding-top: 50px;
  margin: 10px;
}

.submit-button {
background-color: gray;
border-color: black;
color: white;

}

.delete-button {
  background-color: #D63333;
  border-color: black;
  color: white;
}

select {
  border-color: black;
  font: FrizQuadrata;
}
